.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.h-100 {
  height: 100%;
}
.search {
  margin-top: 20px;
}
.center-left {
  margin: 30px 42px;
  font-size: x-large;
  color: #c4c4c4;
}
.s-text {
  margin: 15px 42px;
  color: grey;
}
.grey {
  color: grey;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.find-friends {
  padding: 0.5em 1em;
  color: antiquewhite;
  background-color: #1890ff;

  font-size: 35px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.vertical-flex-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-container {
  padding: 2em;
}
.contact-card {
  background: white;
  padding: 2em;
}
.contact-photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
.photo-container {
  padding-right: 2em;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
